@(title: String)

@main(title) {
    <header>
      <div class="content-wrapper">
        <div class="logo-serber">
          <a title="Servicio de Registro de Bibliotecas y Entidades Relacionadas" href="/"></a>
        </div>
      </div>
      <div class="content-wrapper">
        <div class="float-left logo-mecd">
          <a title="Ministerio de Educación, Cultura y Deporte - Gobierno de España" href="/"></a>
        </div>
        <div class="float-left">
          <p class="site-title"><a href="/">piloto</a>
        </div>
      </div>
    </header>
    <div id="body">
      <section class="featured">
        <div class="content-wrapper">
          <hgroup class="title">
            <h1>¡Bienvenido a SERBER|piloto!</h1>
            <br>
            <h2>Servicio de Registro de Bibliotecas y Entidades Relacionadas</h2>
          </hgroup>
          <p>Registro estandarizado de datos de bibliotecas y entidades relacionadas, españolas e internacionales, compilado con objeto de dar servicio a la comunidad cultural, al entorno bibliotecario, a la gestión pública y a los ciudadanos.
          <p>DEFINICIÓN ISO 2146:2010
          <br>
          Registro: colección de objetos registrados compilada para dar soporte a la actividad de una determinada comunidad.
        </div>
      </section>
    </div>
}
