@(title: String, menu: String)

@main(title, menu) {
    <!--=== Slider ===-->
    <div class="layer_slider">
      <div id="layerslider-container-fw">
        <div id="layerslider" style="width: 100%; height: 500px; margin: 0px auto; ">
          <!-- First Slide -->
          <div class="ls-layer" style="slidedirection: right; transition2d: 24,25,27,28; ">
            <img alt="Slide background" class="ls-bg" src="@routes.Assets.at("images/sliders/layer/bg4.jpg")">
            <img alt="Slider Image" class="ls-s-1" src="@routes.Assets.at("images/net-logo.png")" style=" top:40px; left: 140px; slidedirection : left; slideoutdirection : bottom; durationin : 1500; durationout : 3500; ">
            <img alt="Slider image" class="ls-s-1" src="@routes.Assets.at("images/serber-logo.png")" style=" top:260px; left: 40px; slidedirection : left; slideoutdirection : bottom; durationin : 2500; durationout : 4500; ">
            <span class="btn-u btn-u-buy ls-s-1" style=" padding: 9px 20px; font-size:25px; top:90px; left: 590px; slidedirection : top; slideoutdirection : bottom; durationin : 3500; durationout : 5500; ">Servicio de Registro</span>
            <span class="btn-u btn-u-buy ls-s-2" style=" padding: 9px 20px; font-size:25px; top:140px; left: 590px; slidedirection : top; slideoutdirection : bottom; durationin : 3500; durationout : 5500; ">de Bibliotecas</span>
            <span class="btn-u btn-u-buy ls-s-3" style=" padding: 9px 20px; font-size:25px; top:190px; left: 590px; slidedirection : top; slideoutdirection : bottom; durationin : 3500; durationout : 5500; ">y Entidades Relacionadas</span>
            <span class="btn-u btn-u-orange ls-s1" style=" text-transform: uppercase; padding: 9px 20px; font-size:25px; top:340px; left: 590px; slidedirection : bottom; slideoutdirection : top; durationin : 3500; durationout : 5500;">Bienvenido al Proyecto SERBER&nbsp;<small>|&nbsp;piloto</small></span>
          </div>
          <!-- End First Slide -->
          <!-- Second Slide -->
          <div class="ls-layer" style="slidedirection: top; ">
            <img alt="Slide background" class="ls-bg" src="@routes.Assets.at("images/sliders/layer/bg5.jpg")">
            <i class="icon-chevron-sign-right ls-s-1" style=" color: #fff; font-size: 24px; top:70px; left: 40px; slidedirection : left; slideoutdirection : top; durationin : 1500; durationout : 500; "></i>
            <span class="ls-s-2" style=" color: #fff; font-weight: 200; font-size: 22px; top:70px; left: 70px; slidedirection : top; slideoutdirection : bottom; durationin : 1500; durationout : 500; ">Interfaz Web <em>responsive</em></span>
            <i class="icon-chevron-sign-right ls-s-1" style=" color: #fff; font-size: 24px; top:120px; left: 40px; slidedirection : left; slideoutdirection : top; durationin : 2500; durationout : 1500; "></i>
            <span class="ls-s-2" style=" color: #fff; font-weight: 200; font-size: 22px; top:120px; left: 70px; slidedirection : top; slideoutdirection : bottom; durationin : 2500; durationout : 1500; ">Servicios Web <em>RESTful</em></span>
            <i class="icon-chevron-sign-right ls-s-1" style=" color: #fff; font-size: 24px; top:170px; left: 40px; slidedirection : left; slideoutdirection : top; durationin : 3500; durationout : 3500; "></i>
            <span class="ls-s-2" style=" color: #fff; font-weight: 200; font-size: 22px; top:170px; left: 70px; slidedirection : top; slideoutdirection : bottom; durationin : 3500; durationout : 2500; ">Modelo de Datos vanguardista</span>
            <i class="icon-chevron-sign-right ls-s-1" style=" color: #fff; font-size: 24px; top:220px; left: 40px; slidedirection : left; slideoutdirection : top; durationin : 4500; durationout : 3500; "></i>
            <span class="ls-s-2" style=" color: #fff; font-weight: 200; font-size: 22px; top:220px; left: 70px; slidedirection : top; slideoutdirection : bottom; durationin : 4500; durationout : 3500; ">Metadatos</span>
            <i class="icon-chevron-sign-right ls-s-1" style=" color: #fff; font-size: 24px; top:270px; left: 40px; slidedirection : left; slideoutdirection : top; durationin : 5500; durationout : 4500; "></i>
            <span class="ls-s-2" style=" color: #fff; font-weight: 200; font-size: 22px; top:270px; left: 70px; slidedirection : top; slideoutdirection : bottom; durationin : 5500; durationout : 4500; ">Datos Enlazados</span>
            <i class="icon-chevron-sign-right ls-s-1" style=" color: #fff; font-size: 24px; top:320px; left: 40px; slidedirection : left; slideoutdirection : top; durationin : 6500; durationout : 5500; "></i>
            <span class="ls-s-2" style=" color: #fff; font-weight: 200; font-size: 22px; top:320px; left: 70px; slidedirection : top; slideoutdirection : bottom; durationin : 6500; durationout : 5500; "><em>Free &amp; Open Source Software</em></span>
            <a class="btn-u btn-u-blue ls-s1" href="http://www.playframework.com/" style=" padding: 9px 20px; font-size:25px; top:400px; left: 40px; slidedirection : bottom; slideoutdirection : bottom; durationin : 6500; durationout : 3500; " target="_playframework" title="The High Velocity Web Framework For Java and Scala">Play Framework</a>
            <img alt="Slider Image" class="ls-s-1" src="@routes.Assets.at("images/net-serber-logo.png")" style=" top:30px; left: 650px; slidedirection : right; slideoutdirection : bottom; durationin : 1500; durationout : 1500; ">
          </div>
          <!-- End Second Slide -->
        </div>
      </div>
    </div><!--/layer_slider-->
    <!--=== End Slider ===-->
    <!--=== Purchase ===-->
    <div class="purchase">
      <div class="container">
        <div class="row">
          <div class="col-md-9">
            <span>Servicio de Registro de Bibliotecas y Entidades Relacionadas</span>
            <p>Registro estandarizado de datos de bibliotecas y entidades relacionadas, españolas e internacionales, compilado con objeto de dar servicio a la comunidad cultural, al entorno bibliotecario, a la gestión pública y a los ciudadanos.</p>
            <br>
            <h4>DEFINICIÓN ISO 2146:2010</h4>
            <p>Registro: colección de objetos registrados compilada para dar soporte a la actividad de una determinada comunidad.
          </div>
          <div class="col-md-3">
            <a class="btn-buy hover-effect" href="https://github.com/serber-project" target="_github" title="SERBER|pilot Project at GitHub">Participa</a>
          </div>
        </div><!--/row-->
      </div><!--/container-->
    </div><!--/purchase-->
    <!--=== End Purchase ===-->
    <!--=== Content Part ===-->
    <!--=== End Content Part ===-->
}
